
body
{
    background-color: #e0e0e0 !important;
    color: #000;
}
.header {background-color: #0273c3 !important;}
.header .home-icon-backend {
    float: left;
    display: block;
    top: 4px;
    position: absolute;
    width: 54px;
}
.header a.dash-header {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    width: 100px;
    height: 32px;
    position: absolute;
    left: 64px;
    top: 21px;
}
img.logo-user-profile {
    float: right;
    position: absolute;
    top: 8px;
    right: 11px;
    width: 47px;
}
.backend.btn-new-org {
    display: block !important;
    background: #014576;
    padding: 5px;
    width: 85px;
    height: 24px;
    position: absolute;
    right: 451px;
    top: 13px;
    color: #fff;
    text-align: center;
}
.backend.btn-new-event {
    display: block !important;
    background: #c21238;
    padding: 5px;
    width: 87px;
    width: 85px;
    height: 24px;
    position: absolute;
    right: 345px;
    top: 13px;
    color: #fff;
    text-align: center;
}
.backend.btn-dashboard-home {
    display: block !important;
    background: green;
    padding: 5px;
    width: 87px;
    width: 135px;
    height: 24px;
    position: absolute;
    right: 557px;
    top: 13px;
    color: #fff;
    text-align: center;
}
#content {
    width: 70% !important;
    margin: 0px auto !important;
}
#content hr {
    border: 1px;
    border-top: 2px solid #353535;
    clear: both;
}
#content h3 {
    color: #000;
    font-size: 22px;
}

#content form {
    color: #000;
}

.list-view .items {margin-bottom: 60px; float: left; width: 100%;}

a.btn-edit-org {
    display: block;
    background: #fff;
    color: #000;
    padding: 5px;
    width: 121px;
    text-align: center;
    border: 1px solid;
}
a.btn-edit-event {
    display: block;
    background: #fff;
    color: #000;
    padding: 5px;
    width: 121px;
    text-align: center;
    border: 1px solid;
}




#sidebar {
    margin-top: 90px;
    border: 1px solid gray;
    background: #575658;
    /*padding: 10px;*/
}
#sidebar .portlet-decoration {
    background: #454447;
    padding: 2px;
}
#sidebar .portlet-content {
    padding: 10px;
}
.backend.btn-new-event {
    display: none;
}
.backend.btn-new-org {
    display: none;
}
.backend.btn-dashboard-home {
    display: none;
}
.backend-index {
    background: #0273c3;
    text-align: center;
    padding-bottom: 40px;
    float: left;
    width: 100%;
}
.backend-index h2 {    
    color: #fff;
    font-size: 29px;
    line-height: 24px;
}
.backend-index input[type="submit"] {
    color: white;
    background: #0d4779;
    border-radius: 5px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}
.layout-col-2
{
    /*margin-left: 20px;*/
    width: 90%;
    margin: 0px auto;
}
.layout-col-2 #content {
    width: 40%;
    float: left;
    padding-bottom: 50px;
}
.layout-col-2 #content h1{
    font-size: 31px;
    background: #000;    
    color: white;
    padding: 5px;
}
.layout-col-2 #content .items .view {
    background: #585858;
    margin-bottom: 5px;
    padding: 7px;
}
.layout-col-2 #content form .row {
    margin-left: 10px;
}
.layout-col-2 #content table.detail-view tr.even {
    background: #6f6f6f;
}
.layout-col-2 #content table.detail-view tr.odd {
    background: #6f6f6f;
}
.layout-col-2 #content .pg-org-view table.detail-view tr.odd,
.layout-col-2 #content .pg-org-view table.detail-view tr.even {
    background: #0273c3;
}
.layout-col-2 #content .pg-org-view table.detail-view {
    width: 70%;
    float: left;
}
.layout-col-2 #content .pg-org-view .video-count { width: 30%;background: #fff; height: 30px;color: #000;text-align: center; }



.layout-col-2 #content .pg-event-view table.detail-view tr.odd,
.layout-col-2 #content .pg-event-view table.detail-view tr.even { background: #c21238;}
.layout-col-2 #content .pg-event-view table.detail-view { width: 70%; float: left;}
.layout-col-2 #content .pg-event-view .video-thumb { width: 100px; margin-right: 20px;}
.layout-col-2 #content .pg-event-view .video-count { width: 30%;background: #fff; height: 30px;color: #000;text-align: center; }
.layout-col-2 #content .pg-event-view .vid-row-item { color: #000; }
.layout-col-2 #content .pg-event-view .vid-row-item a { color: #000; text-decoration: none;}
