
body
{
    background-color: #e0e0e0 !important;
    color: #000;
}
.header 
{
    background-color: #0273c3 !important;
}
.backend.btn-new-org {
    display: block !important;
    background: #014576;
    padding: 5px;
    width: 85px;
    height: 24px;
    position: absolute;
    right: 451px;
    top: 13px;
    color: #fff;
    text-align: center;
}
.backend.btn-new-event {
    display: block !important;
    background: #c21238;
    padding: 5px;
    width: 87px;
    width: 85px;
    height: 24px;
    position: absolute;
    right: 345px;
    top: 13px;
    color: #fff;
    text-align: center;
}
.backend.btn-dashboard-home {
    display: block !important;
    background: green;
    padding: 5px;
    width: 87px;
    width: 135px;
    height: 24px;
    position: absolute;
    right: 557px;
    top: 13px;
    color: #fff;
    text-align: center;
}
#content {
    width: 70% !important;
    margin: 0px auto !important;
}
#content hr {
    border: 1px;
    border-top: 2px solid #353535;
    clear: both;
}
#content h3 {
    color: #000;
    font-size: 22px;
}

#content form {
    color: #000;
}



.layout-col-2 #content .pg-org-view table.detail-view tr.odd,
.layout-col-2 #content .pg-org-view table.detail-view tr.even {
    background: #0273c3;
}
.layout-col-2 #content .pg-org-view table.detail-view {
    width: 70%;
    float: left;
}
.layout-col-2 #content .pg-org-view .video-count { width: 30%;background: #fff; height: 30px;color: #000;text-align: center; }



.layout-col-2 #content .pg-event-view table.detail-view tr.odd,
.layout-col-2 #content .pg-event-view table.detail-view tr.even { background: #c21238;}
.layout-col-2 #content .pg-event-view table.detail-view { width: 70%; float: left;}
.layout-col-2 #content .pg-event-view .video-thumb { width: 100px; }
.layout-col-2 #content .pg-event-view .video-count { width: 30%;background: #fff; height: 30px;color: #000;text-align: center; }
.layout-col-2 #content .pg-event-view .vid-row-item { color: #000; }
